@import '../style.module.scss';

.main {
  @extend %baseContainer;

  .header {
    @extend %baseHeader;
    font-size: 2vw;

    .containerDate {
      width: 15%;
      height: 100%;

      .field {
        padding: 2%;
        margin: 0 1%;
        background-color: #242424;
        color: white;
      }

      .select {
        width: 90%;
      }
    }
    .text {
      display: flex;
      align-items: center;
    }
  }

  .cardsContainer {
    padding: 0;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
  }
}
